@import "../../breakpoints.scss";

.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;

  @include md {
    padding: 3em;
    padding-top: 1em;
  }
}
