@import ".././breakpoints.scss";

.productCard {
  margin-bottom: 0.8em;

  @include md {
    max-width: 30%;
  }

  @include lg {
    max-width: 30%;
  }
}

.cardMedia{
  height:350px;

  @include lg{
    height:450px;
  }

}

.price {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.cardContent {
  height: 200px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.description {
  max-height: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
